<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bikeseoul.bikeseoul_kw.dao.CouponDao">
    <select id="getUserCouponList" resultType="com.bikeseoul.bikeseoul_kw.container.Coupon">
        SELECT
            t.ticket_id, t.ticket_type, t.hours, t.cost, t.isvalid, t.created_date, t.updated_date, c.coupon_id, c.owner_uid, c.created_date
        FROM
            ticket_coupon as c
        JOIN
            ticket as t
        ON
            c.ticket_uid = t.ticket_id
        WHERE
            owner_id = #{owner_id}
    </select>

    <select id="getCoupon" resultType="com.bikeseoul.bikeseoul_kw.container.Coupon">
        SELECT
            t.ticket_id, t.ticket_type, t.hours, t.cost, t.isvalid, t.created_date, t.updated_date, c.coupon_id, c.owner_uid, c.created_date
        FROM
            ticket_coupon as c
        JOIN
            ticket as t
        ON
            c.ticket_uid = t.ticket_id
        WHERE
            coupon_id = #{coupon_id}
    </select>

    <select id="getCouponList" resultType="com.bikeseoul.bikeseoul_kw.container.Coupon">
        SELECT
            t.ticket_id, t.ticket_type, t.hours, t.cost, t.isvalid, t.created_date, t.updated_date, c.coupon_id, c.owner_uid, c.created_date
        FROM
            ticket_coupon AS c
        JOIN
            ticket AS t
        ON
            c.ticket_uid = t.ticket_id
    </select>
    <insert id="insertCoupon" parameterType="com.bikeseoul.bikeseoul_kw.container.Coupon">
			INSERT INTO ticket_coupon
				(
					coupon_id,
					ticket_uid
				) VALUES (
					#{coupon_id},
					#{ticket_uid}
				)
	</insert>
	<update id="updateCoupon" parameterType="com.bikeseoul.bikeseoul_kw.container.Coupon">
		UPDATE
			coupon
		SET
			owner_uid = #{owner_uid}
		WHERE
			coupon_id = #{coupon_id}
	</update>
</mapper>