<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bikeseoul.bikeseoul_kw.dao.GiftDao">
    <select id="getReceivedGiftList" resultType="com.bikeseoul.bikeseoul_kw.container.Gift">
        SELECT
            t.ticket_id, t.ticket_type, t.hours, t.cost, t.isvalid, t.created_date, t.updated_date, g.uid, g.giver_uid, g.receiver_uid, g.created_date
        FROM
            Ticket_gift as g
        JOIN
            Ticket as t
        ON
            g.ticket_uid = t.ticket_id
        WHERE
            receiver_id = #{receiver_id}

    </select>

    <select id="getSentGiftList" resultType="com.bikeseoul.bikeseoul_kw.container.Gift">
        SELECT
            t.ticket_id, t.ticket_type, t.hours, t.cost, t.isvalid, t.created_date, t.updated_date, g.uid, g.giver_uid, g.receiver_uid, g.created_date
        FROM
            Ticket_gift as g
        JOIN
            Ticket as t
        ON
            g.ticket_uid = t.ticket_id
        WHERE
            giver_id = #{giver_id}
    </select>
    
	<insert id="insertGiftInfo" parameterType="com.bikeseoul.bikeseoul_kw.container.Gift">
			INSERT INTO ticket_gift
				(
					ticket_uid,
					giver_uid,
					receiver_uid
				) VALUES (
					#{ticket_uid},
					#{giver_uid},
					#{receiver_uid}
				)
	</insert>
</mapper>