<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bikeseoul.bikeseoul_kw.dao.GiftDao">
    <select id="getReceivedGiftList" resultType="HashMap">
        SELECT
            g.uid AS gift_id,
            g.ticket_uid AS ticket_id,
            g.giver_uid,
            g.receiver_uid,
            g.ticket_detail_uid,
            g.created_date AS gift_created_date,
            t.cost,
            t.ticket_type,
            t.hours
        FROM
            Ticket_gift as g
        JOIN
            Ticket as t
        ON
            g.ticket_uid = t.ticket_id
        WHERE
            receiver_id = #{receiver_id}

    </select>

    <select id="getSentGiftList" resultType="HashMap">
        SELECT
            g.uid AS gift_id,
            g.ticket_uid AS ticket_id,
            g.giver_uid,
            g.receiver_uid,
            g.ticket_detail_uid,
            g.created_date AS gift_created_date,
            t.cost,
            t.ticket_type,
            t.hours
        FROM
            Ticket_gift as g
        JOIN
            Ticket as t
        ON
            g.ticket_uid = t.ticket_id
        WHERE
            giver_id = #{giver_id}
    </select>
    
	<insert id="insertGiftInfo" parameterType="com.bikeseoul.bikeseoul_kw.container.Gift">
			INSERT INTO ticket_gift
				(
					ticket_uid,
					giver_uid,
					receiver_uid
				) VALUES (
					#{ticket_uid},
					#{giver_uid},
					#{receiver_uid}
				)
				
		<selectKey resultType="Integer" keyProperty="uid" order="AFTER">
			SELECT LAST_INSERT_ID() AS uid
		</selectKey>
	</insert>
</mapper>