<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bikeseoul.bikeseoul_kw.dao.MemberDao">
    <select id="getMemberInfo" resultType="com.bikeseoul.bikeseoul_kw.container.Member">
        SELECT
        	*
        FROM
        	member
        <if test="uid > 0 or id != null or email != null">
        WHERE
        </if>
        <if test="uid > 0">
        	uid = #{uid}
        </if>
        <if test="0 >= uid  and id != null">
        	id = #{id}
        </if>
        <if test="0 >= uid  and id == null and email != null">
        	email = #{email}
        </if>
    </select>
    <select id="getMemberInfoList" resultType="com.bikeseoul.bikeseoul_kw.container.Member">
        SELECT
        	*
        FROM
        	member
        <trim prefix="WHERE" suffixOverrides="AND|OR">
        	<if test="query_type != null and query != null">
        		<if test="query_type == 'id'">
        			id LIKE CONCAT('%',#{query}, '%') AND
        		</if>
				<if test="query_type == 'email'">
					email LIKE CONCAT('%',#{query}, '%') AND
				</if>
				<if test="query_type == 'phone'">
					phone LIKE CONCAT('%',#{query}, '%') AND
				</if>
				<if test="query_type == 'level'">
					level = #{query} AND
				</if>
				<if test="query_type == 'sex'">
					sex = #{query} AND
				</if>
				<if test="query_type == 'age'">
					age = #{query} AND
				</if>
				<if test="query_type == 'weight'">
					weight = #{query} AND
				</if>
        	</if>
        </trim>
        <if test="p_start >= 0 and p_end >=0">
        	LIMIT
        		#{p_start}, #{p_end}
        </if>
    </select>
    <select id="getMemberInfoCount" resultType="Integer">
        SELECT
        	COUNT(*)
        FROM
        	member
        <if test="type > 0">
        WHERE
        </if>
        <if test="type == 1">
        	id LIKE CONCAT('%',#{value}, '%')
        </if>
        <if test="type == 2">
        	email LIKE CONCAT('%',#{value}, '%')
        </if>
    </select>
    <select id="getLeaveReason" resultType="com.bikeseoul.bikeseoul_kw.container.LeaveReason">
        SELECT
        	uid,
        	msg
        FROM
        	leave_reason
        <if test="uid > 0">
        	WHERE
        		uid = #{uid}
        </if>
    </select>
     <select id="getMemberCount" resultType="Integer">
        SELECT
        	COUNT(*)
        FROM
        	member
        <if test="type > 0">
        WHERE
        	uid != #{user_uid} AND
        </if>
        <if test="type == 1">
        	id = #{value}
        </if>
        <if test="type == 2">
        	email = #{value}
        </if>
        <if test="type == 4">
        	phone = #{value}
        </if>
        
    </select>
	<update id="updateMemberInfo" parameterType="com.bikeseoul.bikeseoul_kw.container.Member">
		UPDATE
			member
		<trim prefix="SET" suffixOverrides=",">
				<if test="pw != null">
					pw = SHA2(#{pw}, 256),
				</if>
				<if test="email != null">
					email = #{email},
				</if>
				<if test="age >0">
					age = #{age},
				</if>
				<if test="weight >0">
					weight = #{weight},
				</if>
				<if test="phone != null">
					phone = #{phone},
				</if>
				<if test="is_lost lt 2">
					is_lost = #{is_lost},
				</if>
				<if test="isvalid lt 2">
					isvalid = #{isvalid},
				</if>
			
		</trim>	
		WHERE
			uid = #{uid}
	</update>
	<insert id="registerLeaveReason" parameterType="Integer">
		<![CDATA[
			INSERT INTO leave_reason_data
				(
					user_uid,
					reason_uid
				) VALUES (
					#{user_uid},
					#{reason_uid}
				)
		
		]]>
		
		<selectKey resultType="hashMap" keyProperty="uid" order="AFTER">
			SELECT LAST_INSERT_ID() AS uid
		</selectKey>
	</insert>
	<insert id="registerMemberInfo" parameterType="com.bikeseoul.bikeseoul_kw.container.Member">
			INSERT INTO member
				(
				<trim suffixOverrides=",">
					id,
					pw,
					email,
					phone,
					sex,
					age,
					<if test="weight gt 0">
						weight
					</if>
				</trim>
				) VALUES (
				<trim suffixOverrides=",">
					#{id},
					#{pw},
					#{email},
					#{phone},
					#{sex},
					#{age},
					<if test="weight gt 0">
						#{weight}
					</if>
				</trim>
				)
	</insert>
	<select id="findID" resultType="com.bikeseoul.bikeseoul_kw.container.Member">
        SELECT
        	mem.*
        FROM
        	member AS mem
        WHERE
        	email = #{email}
    </select>
</mapper>