<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bikeseoul.bikeseoul_kw.dao.MileageDao">
    <select id="getMileageList" resultType="com.bikeseoul.bikeseoul_kw.container.Mileage">
        SELECT
            m.uid m.member_uid, m.amount, m.created_date
        FROM
            mileage as m
        WHERE
            m.member_uid = #{member_uid}
    </select>

    <select id="getMileageSum" resultType="Integer">
        SELECT
            SUM(amount) AS sum
        FROM
            mileage
        WHERE
            member_uid = #{member_uid}
    </select>
	<insert id="updateTransfercardInfo" parameterType="com.bikeseoul.bikeseoul_kw.container.Transfercard">
		<![CDATA[
			INSERT INTO transfer_card
				(
					member_uid,
					card_number,
					card_type,
					updated_date
				) VALUES (
					#{member_uid},
					#{card_number},
					#{card_type},
					CURRENT_TIMESTAMP()
				)
				ON DUPLICATE KEY UPDATE
				card_number = #{card_number},
				card_type = #{card_type},
				updated_date = NOW()
		
		]]>
	</insert>
	
	<delete id="deleteTransfercardInfo" parameterType="Integer" >
		<![CDATA[
			DELETE FROM
				transfer_card
			WHERE
				member_uid = #{member_uid}
		]]>
	</delete>
</mapper>