<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bikeseoul.bikeseoul_kw.dao.MileageDao">
	<insert id="updateTransfercardInfo" parameterType="com.bikeseoul.bikeseoul_kw.container.Transfercard">
		<![CDATA[
			INSERT INTO transfercard
				(
					member_uid,
					card_number,
					card_type,
					updated_date
				) VALUES (
					#{member_uid},
					#{card_number},
					#{card_type},
					CURRENT_TIMESTAMP()
				)
				ON DUPLICATE KEY UPDATE
				card_number = #{card_number},
				card_type = #{card_type}
				upcated_date = CURRENT_TIMESTAMP()
		
		]]>
		
		<selectKey resultType="hashMap" keyProperty="uid" order="AFTER">
			SELECT LAST_INSERT_ID() AS uid
		</selectKey>
	</insert>
</mapper>