<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bikeseoul.bikeseoul_kw.dao.RankingDao">
    <select id="getWeeklyRankingList" resultType="com.bikeseoul.bikeseoul_kw.container.Ranking">
        SELECT
            r.member_uid AS uid, m.id AS member_id, distance, r.created_date AS created_date
        FROM
            ranking_weekly AS r
        JOIN
        	member AS m
        ON
        	r.member_uid = m.uid
        ORDER BY
            distance DESC
    </select>

    <select id="getMonthlyRankingList" resultType="com.bikeseoul.bikeseoul_kw.container.Ranking">
       SELECT
            r.member_uid AS uid, m.id AS member_id, distance, r.created_date AS created_date
        FROM
            ranking_monthly AS r
        JOIN
        	member AS m
        ON
        	r.member_uid = m.uid
        ORDER BY
            distance DESC
    </select>
    
    <insert id="insertRankingWeekly">
		<![CDATA[
			INSERT INTO
				ranking_weekly (member_uid, distance)
				(
					SELECT
						m.uid,
						SUM(r.distance)
					FROM
						rent AS r
					JOIN
						member AS m ON
						r.member_uid = m.uid
					WHERE
						r.start_date BETWEEN DATE_SUB(NOW(), INTERVAL 1 WEEK) AND NOW()
					GROUP BY
						m.uid
				);
		
		]]>
	</insert>
	<insert id="insertRankingMonthly">
		<![CDATA[
			INSERT INTO
				ranking_monthly (member_uid, distance)
				(
					SELECT
						m.uid,
						SUM(r.distance)
					FROM
						rent AS r
					JOIN
						member AS m ON
						r.member_uid = m.uid
					WHERE
						r.start_date BETWEEN DATE_SUB(NOW(), INTERVAL 1 MONTH) AND NOW()
					GROUP BY
						m.uid
				);
		
		]]>
	</insert>
	<delete id="truncateRankingWeekly">
		TRUNCATE TABLE ranking_weekly
	</delete>
	<delete id="truncateRankingMonthly">
		TRUNCATE TABLE ranking_monthly
	</delete>
</mapper>