<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bikeseoul.bikeseoul_kw.dao.RentDao">
    <select id="getRentList" resultType="com.bikeseoul.bikeseoul_kw.container.Rent">
        SELECT
            uid, member_uid, bike_uid, ticket_detail_uid, start_date, return_date, rent_station, return_station, last_position_lat, last_position_lon, distance, updated_date
        FROM
            rent
        <trim prefix="WHERE" suffixOverrides="AND|OR">
            	member_uid = #{member_uid}
           	<if test="start_date != null and end_date != null">
        		AND
            		return_date BETWEEN #{start_date} AND #{end_date}
            </if>
        </trim>
    </select>
</mapper>

