<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bikeseoul.bikeseoul_kw.dao.TicketDao">
    <select id="getExpiredTicketList" resultType="com.bikeseoul.bikeseoul_kw.container.Ticket_detail">
        SELECT
            t.ticket_id, t.ticket_type, t.hours, t.cost, t.isvalid, t.created_date, t.updated_date, tde.uid, tde.member_uid, tde.start_date, tde.activation, tde.created_date, tde.expired_date
        FROM
            ticket t
        LEFT JOIN
            ticket_detail_expired tde
        ON
            t.ticket_id = tde.ticket_uid
        WHERE
            t.member_uid = #{member_uid}
    </select>

    <select id="getActivatedTicketList" resultType="com.bikeseoul.bikeseoul_kw.container.Ticket_detail">
        SELECT
            t.ticket_id, t.ticket_type, t.hours, t.cost, t.isvalid, t.created_date, t.updated_date, td.uid, td.member_uid, td.start_date, td.activation, td.created_date
        FROM
            ticket t
        LEFT JOIN
            ticket_detail td
        ON
            t.ticket_id = td.ticket_uid
        WHERE
            t.member_uid = #{member_uid}
        AND
            t.activation = 1
    </select>
    
     <select id="getTicketList" resultType="com.bikeseoul.bikeseoul_kw.container.Ticket">
     <![CDATA[
        SELECT
            ticket_id,
            ticket_type,
            hours,
            cost,
            isvalid,
            created_date,
            updated_date
        FROM
            ticket
		<trim prefix="WHERE" suffixOverrides="AND|OR">
			<if test="checkvalid <2">
				<if test="checkvalid == 0">
					isvalid = 0
				</if>
				<if test="checkvalid == 1">
					isvalid = 1
				</if>
				<if test="ticketType == 'commutation'">
					AND ticket_type != '1'
				</if>
				<if test="ticketType == 'daily'">
					AND ticket_type = '1'
				</if>
			</if>
		</trim>
		]]>
    </select>

</mapper>