/* --------------------- sub header ----------------------------------------------  */

@media (max-width:1024px) {

  .m_sub_header_wrap {
    display:block;
    position:fixed;
    top: 0; 
    width:100%;
    height:45px;
    z-index:90000; 
    background: #fff;
  }

  .m_sub_header {
     display:block; 
     height:50px; 
     width:100%; 
     text-align:center;
     font-size:16px;
     font-weight: bold; 
     line-height: 50px;
     background: #fff;
   }

   .m_sub_header_wrap .back {
     background:url(../../../public/img/btn_back.png) center no-repeat; 
     width:25px; 
     height:25px; 
     background-size:contain;
     position:absolute; 
     top:15px; 
     left:15px;
    }

   .m_sub_header_wrap .close {
     background:url(../../../public/img/close.png) center no-repeat; 
     width:22px; 
     height:22px; 
     background-size:contain;
     position:absolute; 
     top:15px; 
     right:15px;
    }
 
 } 
 /*1024 end */
/* --------------------- sub header end ----------------------------------------------  */


/* ------------------------------------- header start -----------------------------------------  */

@media (max-width:1024px) {
  html,body {
  	font-size:14px;
  }
}

.wrap {width:100%;}


.header_wrap {
  width:100%; 
  height:119px; 
  /* background:url(../../../public/img/header_bg.gif) repeat-x; */
  border-bottom:1px solid #ededed;
}




.header {
    width:1030px; 
    margin:0 auto; 
    overflow:hidden; 
    text-align:left; 
}

.header .top {
    height:48px; 
    line-height:48px; 
    overflow:hidden;
    border-bottom:1px solid #ededed;
}

.header:after {
  content:"";
  display:block;
  clear:both;
}

.header .setting {display:none}


.header .login, .header .logout {font-size:12px; color:#222; float:right; padding-left:15px}

.header .login a, .header .logout a {font-weight:normal}

.header .top .info {font-size:12px; color:#222; float:right; padding-left:15px}
.header .top .info a {font-weight:normal}

.header .top .join {font-size:12px; color:#222; float:right; padding-left:15px}
.header .top .join a {font-weight:normal}

.header .alim {font-size:12px; color:#222; float:right; padding-left:15px;}
.header .alim a {font-weight:normal}
/* .header .alim .new {background:url(../../../public/img/alim_new_bg.png) no-repeat; width:17px; height:16px; font-size:11px; color:#fff; font-weight:bold; padding:1px 15px 2px 5px} */


.header .global {float:left}
.header .global li {float:left; padding-right:15px}
.header .global li a {font-size:12px; color:#222; font-weight:normal}



.header .logo img {width:166px; height:39px; padding-top:15px; float:left}


.header .menu_web {float:right; padding-top:20px}
.header .menu_web li {float:left; padding-left:50px}
.header .menu_web li a {font-size:17px; color:#222; font-weight:bold}

.header .menu_web:after {
  content:"";
  display:block;
  clear:both;
}

.header .m_global,.header .m_menu {display:none;} 
.new_float_icon {display:none;} 
.new_float_icon_mask {display:none;} 
.new_float_icon_mask_2 {display:none;} 
.new_float_info_wrap {display:none;}


/* ------------------------------------- header mobile start -----------------------------------------  */

@media (max-width:1024px) {
 

  .header_wrap {height:45px; position: fixed;top: 0; padding-top:15px; z-index:10; background:#fff}

  .header {height:45px; width:100%; text-align:center; background: #fff; position:relative;}
  .header:after {clear:both; display:block; content:'';}

  .header .top {float: left;}

  .header .logo img {width:175px; height:43px; padding-top:0px; float:none}

  .header .login, .header .logout, .header .join, .header .info, .header .alim, .header .global {display:none}
  .t_index .bike_tap , .t_index .remarks{display: none}

  .header .m_global {
    display:block;
    background:url(../../../public/img/btn_global.png) no-repeat; 
    width:36px;
    height:42px; 
    background-size:100%; 
    position:absolute; 
    top:0; 
    right:16px; 
    font-size:0; 
    text-indent: -99999px; 
   }
   /* //global */

   .header .m_menu {
     display:block;    
     background:url(../../../public/img/mo_menu.png) no-repeat; 
     width:29px;
     height:35px;  
     background-size:contain;
     position:absolute; 
     top:3px; 
     left:16px; 
     font-size:0; 
     padding:0; 
   }
   /* //alim */

   .header .menu_web {display:none;}

   #sub .logo {display:none;}

   #sub .header_wrap {
    position:relative;
    margin-bottom:0px;
  }
	.main.er {display:block}
	.error {text-align:center;margin-bottom:100px; margin-top:150px}
	.error img {width:50%; height:50%}
	.error p span {font-size:13px !important;}
}
/* 1024 end */


 /*** 추가 ****/
  #sub .m_menu , #sub .m_global , #sub .bike_tap, #sub .remarks {display:none;}  /* 메인 페이지가 아닐경우 지도페이지(mainWrap) 상단 안보이게변경 */
  .mainWrap .m_sub_header_wrap {display:none;}          /* 메인 페이지일 경우 서브페이지(#sub) 상단 안보이게변경 */
  .myleft .header_wrap {display:none;}              /* myLeft페이지 전용 */
  /*** 추가 ****/
  
/* --------------------- 보험안내 start ----------------------------------------------  */


.business .back {display:none}
.business .top {border-bottom:none; overflow:hidden; position:relative; margin:0 0 0 0; padding-bottom:10px; text-align:center}
.business .top h3 {font-size:30px; padding:10px 0 10px 0;}
.business .top .close {display:none}
.business .faq_list {width:980px; margin:0 auto}
.business .agreement {font-size:14px; line-height:normal; width:860px; margin:0 auto}
.business .agreement .stitle2 {font-size:15px; font-weight:bold; margin-bottom:5px}
.business .agreement .stitle3 {font-weight:bold; color:#f2424f; margin-bottom:5px}
.business ul.tabs{margin: 30px 0 20px 0; padding:40px 15px 50px 15px; width:100%; padding-left:2px}
.business ul.tabs:after {display:block; content:''; clear:both;}
.business ul.tabs li{border:1px solid #86929d; background-image:none; background-color:#fff; float:left; width:24%; box-sizing:border-box; margin-left:-2px; font-size:17px; color:#000; font-weight:bold; line-height:24px; padding: 15px 25px;}
.business ul.tabs.list li {width:24%;}
.business ul.tabs li.current{background-color: #001b31;color: #fff; font-weight:bold; } 
.business .tab-content {padding:10px 0}
.tab-content{display: none; padding: 15px;}
.tab-content.current{display: inherit;}
.infolistbox li dl dd {font-size:14px !important; line-height:25px}
.infolistbox li {border-bottom:1px solid #056531}
.infolistbox li.infoli1 {padding:0 0 10px 0}
.infolistbox li.infoli2 {padding:10px 0}
.infolistbox li.infoli3 {padding:10px 0}
.infolistbox li.infoli4 {padding:10px 0}
.passtext dt {color:#000; font-size:15px; font-weight:bold; margin-bottom:10px;}



/************추가 ********************/
/*
	2019.11.26
	
	이용약관 페이지에서 탭 이동시 display 적용이 안되어있어서 수정하였습니다.
*/
.business .tab-content {padding:10px 0; display: none;}
.business .tab-content.current {display:block;}
/***********추가 ***************/



  /* --------------------- 보험안내 모바일  start ----------------------------------------------  */


.business .header_wrap {display:none}
.business .top {overflow:hidden; position:relative; margin:15px 0 0 0; text-align:center; padding-bottom:10px}
.business .top h3 {font-size:15px; padding:5px 0 10px 0; letter-spacing:-1px}
/* .business .back {background:url(../../../public/img/kr/button/btn_back.png) center no-repeat; width:15px; height:15px; background-size:100%; position:absolute; top:6px; left:15px; display:block} */
.business .top .close {display:block}
.business h1 {padding:35px}
.business h1 img {width:100%}
.business .bikeseoul_bn {padding:0 15px}
.business .bikeseoul_bn li {width:100%; height:100px; text-align:center;}
/* .business .bikeseoul_bn li.bn_1 {background:url(../../../public/img/bikeseoul_bn1.jpg); background-size:100%} */
/* .business .bikeseoul_bn li.bn_2 {background:url(../../../public/img/bikeseoul_bn2.jpg); background-size:100%} */
/* .business .bikeseoul_bn li.bn_3 {background:url(../../../public/img/bikeseoul_bn3.jpg); background-size:100%} */
/* .business .bikeseoul_bn li.bn_4 {background:url(../../../public/img/bikeseoul_bn4.jpg); background-size:100%} */
/* .business .bikeseoul_bn li.bn_5 {background:url(../../../public/img/bikeseoul_bn5.jpg); background-size:100%}  */
/* .business .bikeseoul_bn li.bn_6 {background:url(../../../public/img/bikeseoul_bn6.jpg); background-size:100%} */
.business .bikeseoul_bn .txt {padding-top:30px}
.business .bikeseoul_bn .txt p {color:#fff; font-size:15px; padding-bottom:5px}
.business .bikeseoul_bn .txt span {color:#ccc; font-size:11px}

.business .rental_guide {padding:35px 15px}
.business .rental_guide h2 {font-size:18px; text-align:center; margin-bottom:15px}
.business .rental_guide li {border:1px solid #056531; width:100%; height:100px; overflow:hidden; margin-bottom:5px; font-size:11px}
.business .rental_guide li .img {width:150px; height:100px}
.business .rental_guide li.guide_1 .img {background:url(../../../public/img/bikeseoul_img1.jpg); background-size:100%; float:left}
.business .rental_guide li.guide_2 .img {background:url(../../../public/img/bikeseoul_img2.jpg); background-size:100%; float:right}
/* .business .rental_guide li.guide_3 .img {background:url(../../../public/img/bikeseoul_img3.jpg); background-size:100%; float:left} */
/* .business .rental_guide li.guide_4 .img {background:url(../../../public/img/bikeseoul_img4.jpg); background-size:100%; float:right} */
.business .rental_guide li.guide_1 p {padding-left:165px; padding-right:10px; padding-top:15px}
.business .rental_guide li.guide_2 p {padding-right:165px; padding-left:10px; padding-top:15px}
.business .rental_guide li.guide_3 p {padding-left:165px; padding-right:10px; padding-top:15px}
.business .rental_guide li.guide_4 p {padding-right:165px; padding-left:10px; padding-top:15px}
.business .rental_info {padding:0 0 35px 0}
.business .rental_info h2 {font-size:18px; text-align:center; margin-bottom:15px}
.business .rental_info dl {background-color:#fff; padding:10px; font-size:11px}
.business .rental_info dt {font-size:15px; text-align:center; color:#056531; font-weight:bold; margin-bottom:10px}
/* .business .rental_info dd {margin-bottom:12px; background:url(../../../public/img/business_bul.gif) left top 5px no-repeat; background-size:4px; padding-left:10px} */
.business .rental_info dd.left {margin-left:140px; margin-bottom:0; }
.business .rental_info dd.right {padding-right:120px; margin-bottom:0;}
.business .rental_info .info_box_1 {background-color:#efefef; padding:15px; position:relative; height:195px}
.business .rental_info .info_box_2 {background-color:#efefef; padding:15px; position:relative; height:130px}
.business .rental_info .info_box_1 img {position:absolute; left:0; bottom:0; width:200px; height:127px;}
.business .rental_info .info_box_2 img {position:absolute; right:0; bottom:0; width:146px; height:80px;}

.business ul.tabs{/*margin: 30px 0 0 0;*/border-top:1px solid #86929d; padding: 0px; list-style: none; width:100%; background-color:#808a92;}
.business ul.tabs:after {display:block; content:''; clear:both;}
.business ul.tabs li{color: #fff; display: block; background-color:#808a92; cursor: pointer; height:50px; line-height:50px; width:24%; text-align:center; font-size:12px; float:left; padding:0; border:none; margin-left:0; border-bottom:#4cab6a 1px solid;}
.business ul.tabs.list li {width:24%;}
.business ul.tabs li.current{background-color: #fff;color: #222; font-weight:bold; border-bottom:#fff 1px solid; border-right:#4cab6a 1px solid; border-left:#4cab6a 1px solid; border-top:#4cab6a 1px solid; margin-bottom:-1px} 
.business .tab-content {padding:10px 0}

.business .agreement {font-size:12px; width:auto;}
.business .agreement .stitle2 {font-size:13px;margin-bottom:5px; font-weight:bold}
.business .agreement .stitle3 {font-size:13px; color:#f2424f; margin-bottom:5px;}



@media (max-width:1024px) {

.business {padding:0 20px;}
.business .top {overflow:hidden; position:relative; margin:0; text-align:center; padding-bottom:10px}
 

  }
  /*// 1024 end */




