/* --------------------- sub header ----------------------------------------------  */

@media (max-width:1024px) {

  .m_sub_header_wrap {
    display:block;
    position:fixed;
    top: 0; 
    width:100%;
    height:45px;
    z-index:90000; 
    background: #fff;
  }

  .m_sub_header {
     display:block; 
     height:50px; 
     width:100%; 
     text-align:center;
     font-size:16px;
     font-weight: bold; 
     line-height: 50px;
     background: #fff;
     padding: 0;
     margin:0;
   }

   .m_sub_header_wrap .back {
     background:url(../../../public/img/btn_back.png) center no-repeat; 
     width:25px; 
     height:25px; 
     background-size:contain;
     position:absolute; 
     top:15px; 
     left:15px;
    }

   .m_sub_header_wrap .close {
     background:url(../../../public/img/close.png) center no-repeat; 
     width:22px; 
     height:22px; 
     background-size:contain;
     position:absolute; 
     top:15px; 
     right:15px;
    }
 
 } 
 /*1024 end */
/* --------------------- sub header end ----------------------------------------------  */

/* ------------------------------------- header mobile start -----------------------------------------  */

@media (max-width:1024px) {
 

  .header_wrap {height:45px; position: fixed;top: 0; padding-top:15px; z-index:10; background:#fff}

  .header {height:45px; width:100%; text-align:center; background: #fff; position:relative;}
  .header:after {clear:both; display:block; content:'';}

  .header .top {float: left;}

  .header .logo img {width:175px; height:43px; padding-top:0px; float:none}

  .header .login, .header .logout, .header .join, .header .info, .header .alim, .header .global {display:none}
  .t_index .bike_tap , .t_index .remarks{display: none}

  .header .m_global {
    display:block;
    background:url(../../../public/img/btn_global.png) no-repeat; 
    width:36px;
    height:42px; 
    background-size:100%; 
    position:absolute; 
    top:0; 
    right:16px; 
    font-size:0; 
    text-indent: -99999px; 
   }
   /* //global */

   .header .m_menu {
     display:block;    
     background:url(../../../public/img/mo_menu.png) no-repeat; 
     width:29px;
     height:35px;  
     background-size:contain;
     position:absolute; 
     top:3px; 
     left:16px; 
     font-size:0; 
     padding:0; 
   }
   /* //alim */

   .header .menu_web {display:none;}

   #sub .logo {display:none;}

   #sub .header_wrap {
    position:relative;
    margin-bottom:0px;
  }
	.main.er {display:block}
	.error {text-align:center;margin-bottom:100px; margin-top:150px}
	.error img {width:50%; height:50%}
	.error p span {font-size:13px !important;}
}
/* 1024 end */





 /*** 추가 ****/
  #sub .m_menu , #sub .m_global , #sub .bike_tap, #sub .remarks {display:none;}  /* 메인 페이지가 아닐경우 지도페이지(mainWrap) 상단 안보이게변경 */
  .mainWrap .m_sub_header_wrap {display:none;}          /* 메인 페이지일 경우 서브페이지(#sub) 상단 안보이게변경 */
  .myleft .header_wrap {display:none;}              /* myLeft페이지 전용 */
  /*** 추가 ****/
   /* --------------------- 안전하게 자전거 이용하기  end ----------------------------------------------  */

@media (max-width:1024px) {
 
  .faq .guide_title {}
  .faq ul.tabs li p {display:none}
  .faq .content {width:100%}
  .faq select {background:#fff; width:25%; border:1px #dfdfdf solid; height:30px; float:left }
  .faq .top {overflow:hidden; position:relative; margin:0; text-align:center;}
  .faq .top h3 {font-size:15px; padding:5px 0 10px 0; letter-spacing:-1px; width:auto}
 
  .faq .tabs_wrap {width:100%; background-color:#fff}
   /*faq .back {background:url(/images/kr/button/btn_back.png) center no-repeat; width:15px; height:15px; background-size:100%; position:absolute; top:6px; left:15px; display:block}*/
  .faq ul.tabs{padding: 0px; list-style: none; width:100%; background-color:#efefef;}
  .faq ul.tabs:after {display:block; content:''; clear:both;}
  .faq ul.tabs li{color: #999; display: block; background-color:#efefef; background-image:none; cursor: pointer; height:40px; line-height:40px; width:49.5%; text-align:center; font-size:12px; float:left; padding:0; border:none; margin-left:0; border-bottom:#056531 1px solid;}
  .faq ul.tabs.list li {width:33%;}
  .faq ul.tabs li:first-child {margin-right:0}
  .faq ul.tabs li.current{background-color: #fff; background-image:none; color: #222; font-weight:bold; border-bottom:#fff 1px solid; border-right:#056531 1px solid; border-left:#056531 1px solid; margin-bottom:-1px; border-top:none} 
  .faq .tab-content {padding:10px 0; width:auto}
  .faq .input {border:1px #dfdfdf solid; display:inline-block; margin-left:5px; width:50%}
  .faq .board_srch {background-color:#fff; border-top:none; padding:10px;} 
  .faq .board_srch {padding:30px; border-top:1px solid #999;}


/* 시민의견수렴 개선 수정 mobile start */

  .faq .opinion_btns {width:auto}
  .faq .opinion_btns {padding:20px 15px 0 15px;; text-align:center}
  .faq .opinion_btns img {padding:10px}
  .faq .opinion_btns h3 {font-size:12px;}
  .faq .opinion_btns dl {padding-left:0}
  .faq .opinion_btns dt{font-size:11px; color:#9a9a9a; letter-spacing:-1px; text-align:left; margin:0}
  .faq .opinion_btns dd {margin-top:12px; margin-left:0; height:auto; display:block; width:auto}
  .faq .opinion_btns dd.ticket {width:auto; margin-bottom:0}
  .faq .opinion_btns dd.ticket a {padding:15px;}
  .faq .opinion_btns dd.ticket a {background:#fff url(../../../public/img/pay_arrow.gif) right 15px center no-repeat; text-align:left}
  .faq dd.ticket a label {display:block;}
  .faq .opinion_btns dd a {font-size:17px; border:2px solid #86929d; width:100%; height:80px; color:#000; box-sizing:border-box; font-weight:bold; display:block;  cursor:pointer; line-height:24px; box-shadow:none}
  .faq .opinion_btns dd.on a {color:#000;}
  .faq .opinion_btns dd span {font-size:11px; color:#9a9a9a; display:block; letter-spacing:-1px; padding-top:0; width:auto}
  .faq .opinion_btns dd span p {display:inline}
  .faq .opinion_btns dd span img {display:none}
  .faq .opinion_btns dd a img {display:none}
  .faq .opinion_btns dd strong {color:#000; font-weight:bold} 
    
/* 시민의견수렴 개선 수정 mobile end */


}
/*// 1024 end */

 /* --------------------- faq start ----------------------------------------------  */



.faq select {background:#fff; width:200px; float:left; height:40px; line-height:40px; border:1px #dfdfdf solid; box-sizing:border-box;}
.faq .input {border:1px #dfdfdf solid; display:inline-block;}
.faq .board_srch {padding:30px;}
.faq_list {border-top:1px solid #777;border-bottom:2px solid #d2d2d2; font-size:14px;color:#333}
.faq_list a {font-weight:normal}
/* .faq_list li {background:url(../../../public/img/arr_open.png) no-repeat right 20px center; background-size:18px} */
.business .faq_list dt {background-image:none; padding:15px 0 15px 15px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden}
.business .faq_list dd {background-image:none; padding:15px}
.business .faq_list li.on dt {background-image:none}
/* .faq_list li.on {background:url(../../../public/img/arr_close.png) no-repeat right 20px top 15px; background-size:18px;} */
.faq_list li.on dd {font-size:13px;}
/* .faq_list li.on dt {background:url(../../../public/img/faqlist_q_on.png) no-repeat left 10px center; background-size:20px} */
/* .faq_list dt {padding:15px 0 15px 40px;border-top:1px solid #e6e6e6;background:url(../../../public/img/faqlist_q.png) no-repeat left 10px center; background-size:20px; position:relative;} */
/* .faq_list dd {padding:10px 10px 10px 40px;background:#fafafa url(../../../public/img/faqlist_a.png) no-repeat left 10px top 10px; background-size:20px; border-top:1px solid #d2d2d2;line-height:24px;display:none} */
.faq_list dd span.added_file {display:block;margin-top:20px}
.faq_list dt span.cont {/*width:90%;*/display:block;}
.faq_list dt a {line-height:17px; display:block;overflow:hidden; width:85%;}
.faq_list dd .added_file em {font-style:normal;font-size:13px;color:#444; margin-right:10px;display:inline-block;vertical-align:top}
.faq_list dd .added_file span {font-style:normal;font-size:13px;color:#666; border-left:1px solid #c3c3c3;padding-left:10px;display:inline-block;width:80%}
.faq_list dd .added_file span a {padding-right:5px;display:inline-block}
.faq_list dd .added_file span a:after {content:",";}
.faq_list dd .added_file span a.last:after {content:""}
.faq_list img {min-width:auto; max-width:100% }

 
.board_srch  .btn_search {height:32px; line-height:32px; text-align:center; font-size:12px; display:inline-block; margin-left:5px; margin-top:0}
.board_srch  .btn_search a {color:#fff; display:block; cursor:pointer; background-color:#4cab6a; padding:0 10px}
.board_srch  .btn_search img {width:14px; height:14px; vertical-align:middle; padding-right:5px}
.board .btn {margin:20px 15px 0 15px; height:33px; line-height:33px; text-align:center; font-size:12px; width:auto}
.board .btn a {color:#fff; display:block; cursor:pointer; background-color:#056531; }
.board .btn_goPage {margin:0 auto 20px; height:33px; line-height:33px; text-align:center; font-size:12px; width:200px;}
.board .btn_goPage a {color:#fff; display:block; cursor:pointer; background-color:#24384a;border-radius: 20px; }


 /* --------------------- faq  end ----------------------------------------------  */

@media (max-width:1024px) {

.board_srch.faq {
  margin-top:50px;
}
 
.faq .input {height:33px;}

.faq .guide_title {}
.faq ul.tabs li p {display:none}
.faq .content {width:100%}
.faq select {background:#fff; width:25%; border:1px #dfdfdf solid; height:30px; float:left }
.faq .top {overflow:hidden; position:relative; margin:0; text-align:center;}
.faq .top h3 {display:none;} 

.faq .tabs_wrap {width:100%; background-color:#fff}

.faq ul.tabs{padding: 0px; list-style: none; width:100%; background-color:#efefef;}
.faq ul.tabs:after {display:block; content:''; clear:both;}
.faq ul.tabs li{color: #999; display: block; background-color:#efefef; background-image:none; cursor: pointer; height:40px; line-height:40px; width:49.5%; text-align:center; font-size:12px; float:left; padding:0; border:none; margin-left:0; border-bottom:#056531 1px solid;}
.faq ul.tabs.list li {width:33%;}
.faq ul.tabs li:first-child {margin-right:0}
.faq ul.tabs li.current{background-color: #fff; background-image:none; color: #222; font-weight:bold; border-bottom:#fff 1px solid; border-right:#056531 1px solid; border-left:#056531 1px solid; margin-bottom:-1px; border-top:none} 
.faq .tab-content {padding:10px 0; width:auto}
.faq .input {border:1px #dfdfdf solid; display:inline-block; margin-left:5px; width:50%}
.faq .board_srch {background-color:#fff; border-top:none; padding:10px;}

.faq_list {border-top:1px solid #777;border-bottom:2px solid #d2d2d2; font-size:13px;color:#333}
.faq_list a {font-weight:normal}
/* .faq_list li {background:url(../../../public/img/arr_open.png) no-repeat right 20px center; background-size:18px} */
.business .faq_list {width:100%}
.business .faq_list dt {background-image:none; padding:15px 0 15px 15px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden}
.business .faq_list dd {background-image:none; padding:15px}
.business .faq_list li.on dt {background-image:none}
/* .faq_list li.on {background:url(../../../public/img/arr_close.png) no-repeat right 20px top 15px; background-size:18px;} */
.faq_list li.on dd {font-size:12px;}
/* .faq_list li.on dt {background:url(../../../public/img/faqlist_q_on.png) no-repeat left 10px center; background-size:20px} */
/* .faq_list dt {padding:15px 0 15px 40px;border-top:1px solid #e6e6e6;background:url(../../../public/img/faqlist_q.png) no-repeat left 10px center; background-size:20px; position:relative;} */
/* .faq_list dd {padding:10px 10px 10px 40px;background:#fafafa url(../../../public/img/faqlist_a.png) no-repeat left 10px top 10px; background-size:20px; border-top:1px solid #d2d2d2;line-height:24px;display:none} */
.faq_list dd span.added_file {display:block;margin-top:20px}
.faq_list dt span.cont {/*width:90%;*/display:block;}
.faq_list dt a {line-height:17px; /*text-overflow:ellipsis; white-space:nowrap; */display:block;overflow:hidden; width:85%;}
.faq_list dd .added_file em {font-style:normal;font-size:13px;color:#444; margin-right:10px;display:inline-block;vertical-align:top}
.faq_list dd .added_file span {font-style:normal;font-size:13px;color:#666; border-left:1px solid #c3c3c3;padding-left:10px;display:inline-block;width:80%}
.faq_list dd .added_file span a {padding-right:5px;display:inline-block}
.faq_list dd .added_file span a:after {content:",";}
.faq_list dd .added_file span a.last:after {content:""}
.faq_list img {min-width:auto; max-width:100% }
.faq .gallery .thumb {width: 330px; height: 25px; margin:20px auto 10px auto; text-align:center}
.faq .gallery .thumb li {width:18px; height:18px; display: block; float: left; cursor: pointer; color:#fff; background-color:#efefef; border-radius:50px; line-height:18px; text-align:center; margin:0 6px}
.gallery .thumb li.selected {color:#fff; background-color:#ffc423;}
.gallery .thumb li.selected:hover {color:#fff; background-color:#ffc423;}

}
/* 1024 end */

 /* --------------------- 대여중 end ----------------------------------------------  */
  
/* ------------------------------------- 상담내역 mobile start  -----------------------------------------  */ 

@media (max-width:1024px) { 

    
  .board_srch {padding:10px 15px; text-align:center; margin-bottom:0}
  .board_srch .input {border:1px #dfdfdf solid; display:inline-block;}
  .board_srch .input input {height:27px; line-height:30px; font-size:12px;}
  .board .input {border:1px #dfdfdf solid; display:inline-block;}
  .board_srch  .btn_search {height:32px; line-height:32px; text-align:center; font-size:12px; display:inline-block; margin-left:5px; margin-top:0}
  .board_srch  .btn_search a {color:#fff; display:block; cursor:pointer; background-color:#056531; padding:0 10px}
  .board_srch  .btn_search img {width:14px; height:14px; vertical-align:middle; padding-right:5px}
  .board .btn {margin:20px 15px 0 15px; height:33px; line-height:33px; text-align:center; font-size:12px; width:auto}
  .board .btn a {color:#fff; display:block; cursor:pointer; background-color:#056531; }



}
/* 1024 end */


/* ------------------------------------- 상담내역 pc start  -----------------------------------------  */  

.board_srch {
  padding: 30px 0px; 
  text-align: center;
  background-color: #fff;
margin-bottom:0;
}
.board_srch .input {border:1px #dfdfdf solid; display:inline;}
.board .input {border:1px #dfdfdf solid; display:inline-block;}
.board_srch .input input {height:40px; line-height:40px; font-size:13px}
.board_srch  .btn_search {height:40px; line-height:40px; text-align:center; font-size:13px; display:inline-block; margin-left:5px;} 
.board_srch  .btn_search a {color:#fff; display:block; cursor:pointer; background-color:#056531; height:37px;}
.board_srch  .btn_search img {width:14px; height:14px; vertical-align:middle; padding-right:5px}


.board_box table {
  border-top: 1px solid #000;
  font-size: 13px;
  width: 100%;
  margin: 0 auto;
}
.board_box th {
  border-bottom: 1px solid #056531;
  font-weight: bold;
  color: #222;
  line-height: 400%;
}
.board_box td {
  border-bottom: 1px solid #dfdfdf;
  color: #666;
  padding: 20px 15px;	/* 사이즈 관련 수정 */
}
.board_box td span.red {color:#f1424f;}
.board_box td.nodata {color:#f1424f; padding:30px 0}


.board_info {
  padding: 20px 15px;
  margin: 10px auto 10px auto;
  background-color: #efefef;
  width: 100%;
  box-sizing: border-box;
}
.board_info li {
  font-size: 12px;
  color: #666;
  line-height: 16px;
}
.board_info li a {text-decoration:underline; background:url(../../../public/img/menu_arrow.png) right center no-repeat; background-size:10px; color:#000; padding-right:10px; line-height:20px; font-weight:bold}
.board_info li span {color:#f3414f}
.board_info_nonBox {
  margin: 10px auto 10px auto;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}



/* ------------------------------------- 상담내역 pc end  -----------------------------------------  */  


/* 시민의견수렴 개선 수정 mobile start */

.faq .opinion_btns {width:auto}
.faq .opinion_btns {padding:20px 15px 0 15px;; text-align:center}
.faq .opinion_btns img {padding:10px}
.faq .opinion_btns h3 {font-size:12px;}
.faq .opinion_btns dl {padding-left:0}
.faq .opinion_btns dt{font-size:11px; color:#9a9a9a; letter-spacing:-1px; text-align:left; margin:0}
.faq .opinion_btns dd {margin-top:12px; margin-left:0; height:auto; display:block; width:auto}
.faq .opinion_btns dd.ticket {width:auto; margin-bottom:0}
.faq .opinion_btns dd.ticket a {padding:15px;}
.faq .opinion_btns dd.ticket a {background:#fff url(../../../public/img/pay_arrow.gif) right 15px center no-repeat; text-align:left}
.faq dd.ticket a label {display:block;}
.faq .opinion_btns dd a {font-size:17px; border:2px solid #86929d; width:100%; height:80px; color:#000; box-sizing:border-box; font-weight:bold; display:block;  cursor:pointer; line-height:24px; box-shadow:none}
.faq .opinion_btns dd.on a {color:#000;}
.faq .opinion_btns dd span {font-size:11px; color:#9a9a9a; display:block; letter-spacing:-1px; padding-top:0; width:auto}
.faq .opinion_btns dd span p {display:inline}
.faq .opinion_btns dd span img {display:none}
.faq .opinion_btns dd a img {display:none}
.faq .opinion_btns dd strong {color:#000; font-weight:bold} 
  
/* 시민의견수렴 개선 수정 mobile end */