/* --------------------- sub header ----------------------------------------------  */

@media (max-width:1024px) {

  .m_sub_header_wrap {
    display:block;
    position:fixed;
    top: 0; 
    width:100%;
    height:45px;
    z-index:90000; 
    background: #fff;
  }

  .m_sub_header {
     display:block; 
     height:50px; 
     width:100%; 
     text-align:center;
     font-size:16px;
     font-weight: bold; 
     line-height: 50px;
     background: #fff;
   }

   .m_sub_header_wrap .back {
     background:url(../../../public/img/btn_back.png) center no-repeat; 
     width:25px; 
     height:25px; 
     background-size:contain;
     position:absolute; 
     top:15px; 
     left:15px;
    }

   .m_sub_header_wrap .close {
     background:url(../../../public/img/close.png) center no-repeat; 
     width:22px; 
     height:22px; 
     background-size:contain;
     position:absolute; 
     top:15px; 
     right:15px;
    }
 
 } 
 /*1024 end */
/* --------------------- sub header end ----------------------------------------------  */


/* ------------------------------------- 카드관리 pc start  -----------------------------------------  */  


.my_navi {background-color:#fff; border-bottom:1px solid #4CAB6A}
.my_navi .head {background-color:#fff; padding:15px 0 10px 0; width:1030px; margin:0 auto}
.my_navi .profile {float:left; width:400px}
.my_navi .profile > dd {width:auto; position:static; display:block;}
.my_navi .profile .name {font-size:15px; color:#000; font-weight:bold; margin:15px 0}
.my_navi .profile .ticket {background-size:352px 35px; padding-left:20px; height:35px; line-height:35px; font-size:15px; color:#5fe8c1;}
.my_navi .profile .ticket span {color:#000; background-color: #f5f5f5; padding: 10px 20px; border-radius: 5px;}
.my_navi .my_list {background-color:#fff; display:inline-block; overflow:hidden; margin-bottom:6px; width:630px; box-sizing:border-box}
.my_navi .my_list li {float:left; width:49.7%; height:48px; background-size:10px}
.my_navi .my_list li a {font-size:13px; color:#222; line-height:48px; width:100%; padding-left:15px; font-weight:normal}
.my_navi .tabs{ padding: 0px; list-style: none; background-color: #808A92; border-right:#056531 1px solid; box-sizing:border-box; width:100%}

.my_navi .tabs ul {width:1030px; margin:0 auto;}
.my_navi .tabs li{color: #656565;padding: 20px 15px; cursor: pointer; width:33%; display:inline-block; text-align:center; font-size:14px; box-sizing:border-box}
.my_navi .tabs li.on{background-color: #fff !important;color: #222; border-left:#4CAB6A 2px solid; border-right:#4CAB6A 2px solid; border-top:#4CAB6A 2px solid; border-bottom:#fff 1px solid; margin-bottom:-2px} 
/* .my_navi .tabs li.tab-1 {background:url(../../../public/img/my_ic_1.gif) center top 15px no-repeat; padding-top:60px; background-size:35px} */
.my_navi .tabs li.tab-2 {background:url(../../../public/img/my_ic_2.gif) center top 15px no-repeat; padding-top:60px; background-size:35px}
.my_navi .tabs li.tab-3 {background:url(../../../public/img/my_ic_3.gif) center top 15px no-repeat; padding-top:60px; background-size:35px}
.my_navi .tabs li.tab-1.on {background:url(../../../public/img/my_ic_1on.gif) center top 20px no-repeat; padding-top:60px; background-size:35px}
/* .my_navi .tabs li.tab-2.on {background:url(../../../public/img/my_ic_2on.gif) center top 20px no-repeat; padding-top:60px; background-size:35px} */
/* .my_navi .tabs li.tab-3.on {background:url(../../../public/img/my_ic_3on.gif) center top 20px no-repeat; padding-top:60px; background-size:35px} */
.my_navi .tabs li.tab-1 a, .my_navi .tabs li.tab-2 a, .my_navi .tabs li.tab-3 a {color:#fff}
.my_navi .tabs li.tab-1.on a, .my_navi .tabs li.tab-2.on a, .my_navi .tabs li.tab-3.on a {color:#4CAB6A}
 

.category_tab {padding:50px 0 30px 0; display:block}
.category_tab dl {width:100%; padding-left:2px; margin-bottom:20px}
.category_tab dd {border:1px solid #001b31; margin-top:-2px; background-image:none; background-color:#fff; float:left; box-sizing:border-box; margin-left:-2px; text-align:center; font-size:17px; color:#000; font-weight:bold; line-height:24px; padding: 15px 25px;}
.category_tab dd a {color:#000; /*font-size:17px; font-weight:bold; display:block; cursor:pointer; line-height:24px; padding: 15px 25px;*/}
.category_tab dd.on, .category_tab dd.on a {color:#fff; background-color:#001b31}
.category_tab:after {clear:both; display:block; content:'';}


.my ul.tabs{/*margin: 30px 0 0 0;*/ display:block; padding: 0px; list-style: none; }
.my ul.tabs:after {display:block; content:''; clear:both;}
.my ul.tabs li{color: #999; display: block; cursor: pointer; height:40px; line-height:40px; text-align:center; font-size:17px; float:left; padding:0 20px; width:auto !important}
.my ul.tabs li.current{color: #000; display:block; font-weight:bold; border-bottom:4px solid #000} 
.my .tab-content {padding:10px 0; display: none;}
.my .tab-content.current {display:block;}

.my .btns {width:100%; margin:0 auto; height:50px; line-height:50px; text-align:center; font-size:14px; margin-top:20px}
.my .btns a.del {color:#001b31; width:200px; background-color:#fff; border:1px solid #001b31; cursor:pointer; display:inline-block}
.my .btns a.modify {color:#fff; width:200px; background-color:#056531; display:block; cursor:pointer; margin-right:10px; display:inline-block; height:50px; line-height:50px;}

.my_box.noline {border-top:none}
.my_box th img {width:15px; height:15px; margin-left:10px}
.my_box {border-top:#056531 1px solid; border-bottom:#333 1px solid; margin:10px 15px 10px 15px; padding:0}
.my_box .pay_input {position:relative; border:1px #dfdfdf solid; display:inline-block; line-height:30px; height:30px; margin:2px 2px 2px 2px}
.pay_input input {border:none;}
.my_box th {font-size:14px; color:#222; width:150px; padding:10px; background-color:#fafafa; border-top:1px #ccc solid; letter-spacing:-1px; min-height:38px; text-align:center}
.my_box td {padding:10px 10px; font-size:14px; color:#666; background-color:#fff;border-top:1px #ccc solid; height:38px}
.my_box.list td {text-align:center; height:50px}
.my_box.list td.none {color:#f1424f}
.my_box td span {padding-right:5px}
.my_box td .check span {padding-right:0}
.my_box th.first, .my_box td.first {border-top:none;}
.my_box td button {background-color:#fff; border:1px #001a31 solid; color:#001a31; font-size:13px; padding:0 10px; line-height:30px; font-weight:bold}
.my_box td p {font-size:13px; color:#666; line-height:normal; letter-spacing:normal; padding-top:5px}
.my_box p {font-size:12px; color:#666; line-height:30px; }
.my_box .number {margin-left:-50px}

.my_box .num_press {margin:10px auto 10px auto; }
.my_box .number li {background-color:#fff; border-top:none;}
.my_box p.num {font-size:13px; color:#666; line-height:30px; line-height:normal; padding:0 10px 20px 10px; letter-spacing:normal}


.sub_m_title {
   width:100%;
   text-align:left;
   font-size:16px;
   letter-spacing: -1px; 
   font-weight: bold;
   margin:20px 0 10px 13px;
}
 
.sub_m_title.card {
   margin:50px 0; 
}


.my .btn {width:370px; margin:0 auto 50px auto; height:50px; line-height:50px; text-align:center; font-size:14px; margin-top:20px; box-sizing:border-box}
.my .btn a {color:#fff; display:block; cursor:pointer; background-color:#24384a; }


.my .pay_info {border:2px solid #f2f2f2; padding:10px 15px; margin:10px 15px 10px 15px}
.my .pay_info li {font-size:13px; color:#666; line-height:20px; background-color:#fff !important }
.my .pay_info li a {text-decoration:underline; background:url(../../../public/img/menu_arrow.png) right center no-repeat; background-size:10px; color:#000; padding-right:10px; line-height:20px; font-weight:bold}
.my .pay_info li span {color:#f3414f}
.my .pay_info li strong {padding-top:7px; display:block}


.my .my_info {border:1px solid #f2f2f2; padding:10px 15px; margin:10px 15px 10px 15px}
.my .my_info p {font-size:11px; color:#666; font-weight:bold}
.my .my_info li {font-size:13px; color:#888; line-height:18px; background:#fff url(../../../public/img/ico_ing_bul.png) no-repeat left top 5px !important; padding-left:10px; margin-top:5px }

.my .check {font-size:13px; color:#222; margin:0 0 10px 0; text-align:center; letter-spacing:normal}
.my .check input[type=checkbox] {vertical-align:middle}
.my .check a {text-decoration:underline; color:#222;}

.my h1 {font-size:12px; padding:10px 0 0 20px}
.my p.caption {font-size:12px; color:#666; text-align:right; padding:5px 10px 5px 0;}
.my p.caption img {width:15px; height:15px; margin-right:5px}

.my td .agree {text-align:left; line-height:normal}
.my td .check.agree {margin:5px 0 0 0; text-align:left; }
.my select {background:#fff; width:100%; border:1px #dfdfdf solid; height:30px; }


.my h1 {font-size:12px; padding:10px 0 0 20px}

/* ------------------------------------- 카드관리 mobile start  -----------------------------------------  */   

@media (max-width:1024px) {
  
  .my_navi {display:none}
  .category_tab {display:none} 


  .my ul.tabs{
    display:block; 
    padding: 0px; 
    list-style: none; 
    width:100%; 
    background-color:#efefef; 
    border-top:1px solid #ddd;
    border-bottom:#056531 1px solid;
  }

  .my ul.tabs:after {display:block; content:''; clear:both;}

  .my ul.tabs li{
    margin-top: 4vh;
    color: #999; 
    display: block; 
    cursor: pointer; 
    height:50px; 
    line-height:50px; 
    width:49.5% !important; 
    text-align:center; 
    float:left; 
    padding:0
  }


  .my ul.tabs.list li {width:33% !important;}

  .my ul.tabs li.current{
    background-color: #fff;
    color: #222; 
    font-weight:bold; 
    border-bottom:#fff 1px solid; 
    border-right:#056531 1px solid; 
    border-left:#056531 1px solid; 
    margin-bottom:-1px
  } 


  .my .tab-content {padding:10px 0}

  .my_box.noline {border-top:none}

  .my_box .pay_input {

    position:relative; 
    border:1px #dfdfdf solid; 
    display:inline-block; 
    line-height:30px; 
    height:30px; 
    margin:2px 2px 2px 2px
  }


  .my_box {border-top:#056531 1px solid; border-bottom:#333 1px solid; margin:0; padding:0}

  .my_box th {
    font-size:14px; 
    color:#222; 
    width:80px; 
    padding:5px; 
    background-color:#fafafa; 
    border-top:1px #ccc solid; 
    letter-spacing:-1px; 
    min-height:38px; 
    text-align:center
  }


  .my_box td {padding:5px 10px; font-size:12px; color:#666; background-color:#fff;border-top:1px #ccc solid; height:38px}
  .my_box.list td {text-align:center; height:50px}
  .my_box.list td.none {color:#f1424f}
  .my_box td span {padding-right:5px}
  .my_box td .check span {padding-right:0}
  .my_box th.first, .my_box td.first {border-top:none;}
  .my_box td button {background-color:#fff; border:1px #001a31 solid; color:#001a31; font-size:11px; padding:0 10px; line-height:30px; font-weight:bold}
  .my_box td p {font-size:11px; color:#666; line-height:normal; letter-spacing:-1px}
  .my_box p {font-size:12px; color:#666; line-height:30px; }


  .my_box .number {margin-left:0}
  .my_box .num_press {margin:10px auto 10px auto}
  .my_box .number li {background-color:#fff; border-top:none;}
  .my_box p.num {font-size:12px; color:#666; line-height:30px; line-height:normal; padding:0 10px; letter-spacing:-1px}


  .my .btn {width:164px; margin:0 auto; height:33px; line-height:33px; text-align:center; font-size:12px; margin-top:20px}
  .my .btn a {color:#fff; display:block; cursor:pointer; background-color:#24384a; }


  .my .pay_info {border:1px solid #f2f2f2; padding:10px 15px; margin:10px 15px 10px 15px}
  .my .pay_info li {font-size:12px; color:#666; line-height:1.5; background-color:#fff !important }
  .my .pay_info li a {text-decoration:underline; background:url(../../../public/img/menu_arrow.png) right center no-repeat; background-size:10px; color:#000; padding-right:10px; line-height:20px; font-weight:bold}
  .my .pay_info li span {color:#f3414f}
  .my .pay_info li strong {padding-top:7px; display:block}

 

}
/* 카드관리 mobile end */