
.container {
    width: 100%;
    clear: both;
    background-color: #fff;
}

.content {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.join {
    display: block;
    width: 100%;
}

.join_label {
    text-align: center;
    display: block;
}

.join_label h2 {
    font-size: 16px;
    color: #222;
    font-weight: normal;
    margin-bottom: 75px;
    line-height: normal;
}

.join .phone input {
    line-height: 30px;
    height: 30px;
    border-bottom: 1px #222 solid;
    padding: 0 5px;
    font-size: 14px;
    /* width: 60px !important; */
}

.phone {
    width: 100%;
    text-align: center;
    /* margin: 0 10px 15px; */
}

.join .btn {
    margin: 30px auto;
    color: #fff;
    background-color: #056531;
    border-radius: 3px;
    text-align: center;
    width: 300px;
}

.join .btn a {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

/* .join .btn {
    margin: 30px auto;
    color: #fff;
    background-color: #056531;
    border-radius: 3px;
    text-align: center;
    width: 300px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
} */

.join .check {
    font-size: 13px;
    color: #333;
    margin: 30px auto 15px auto;
    width: auto;
    text-align: center;
}

.join .id p, .join .pw p, .join .pw_check p, .join .email p, .join .file p, .join .phone p {font-size:12px; color:#222; font-weight:bold}
.join .email {margin:0 15px 5px 15px; position:relative; width:auto}
.join .email input {line-height:30px; height:30px; font-size:11px; margin:0; width:30%; border-bottom:1px #222 solid; display:inline-block}
.join .email .sel_box {width:30%; float:right}

